/* ----------RESET---------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
li {
  margin: 0;
  padding: 0;
}

/* set up default body styles */
body {
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  max-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off (accessibility */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ----------END RESET---------- */

/* body {
  font-family: 'Barlow Condensed', sans-serif;
} */


#main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 2rem;
  
}

#main-header .header-logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

#main-header ul {
  display: flex;
  gap: 0.5rem;
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  /* padding-right: 5rem; */
  background-color: rgba(255, 255, 255, 3%);
  width: 55%;
}

.nav-link {
  display: flex;
  flex-wrap: nowrap;
}

#main-header ul .nav-item a {
  font-size: 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  padding: 0 1.5rem;
  letter-spacing: 2.7px;
  color: white;
}